{
  "extends": "airbnb-base",
  "env": {
      "browser": true,
      "node": true,
      "es6": true
  },
  "rules": {
      "import/no-extraneous-dependencies": "off",
      "import/no-unresolved": "off",
      "import/extensions": "off",
      "comma-dangle": ["error", {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        // Trailing commas in functions are allowed only in ES8
        // https://github.com/eslint/eslint/issues/7809
        "functions": "never"
      }],
      "function-paren-newline": ["off"],
      "global-require": "off",
      "indent": ["error", 2, { "SwitchCase": 1 }],
      "max-len": [2, 100],
      "no-await-in-loop": "off",
      "no-confusing-arrow": "off",
      "no-restricted-syntax": ["error", "ForInStatement", "LabeledStatement", "WithStatement"],
      "no-return-assign": "off",
      "no-unused-expressions": ["error", { "allowTernary": true }],
      "no-use-before-define": "off",
      "quote-props": ["error", "consistent-as-needed"],
      "semi": ["error", "never"]
  }
}
  